@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

html {
  font-family: 'Open Sans', sans-serif;
  background-color: #ebf2fe;
  color: #455c86;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

/********* MEDIA QUERIES **********/
@media (max-width: 1199px) {
  .progress_steps,
  .progress_steps_bar::before {
    width: 90%;
  }
  .progress {
    width: 22%;
  }
}

@media (min-width: 1200px) {
  .progress_steps,
  .progress_steps_bar::before {
    width: 60%;
  }
  .progress {
    width: 15%;
  }
}

/********* STEPS **********/
.progress_steps {
  margin: 4em auto;
}

.progress_steps_bar::before {
  content: "";
  background-color: #c1cce2;
  position: absolute;
  height: 0.25em;
}

.progress {
  background-color: #455c86;
  position: absolute;
  height: 0.25em;
}

.steps {
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.step {
  padding: 0.35em;
  background-color: #ebf2fe;
  color: #c1cce2;
  border: 0.2em solid #c1cce2;
  border-radius: 1.25em;
  width: 1.25em;
  height: 1.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/********* CARDS **********/
.progress_cards {
  text-align: justify;
}

/********* BUTTONS **********/
.btn-group {
  justify-content: center;
  display: flex;
  margin: 2em auto;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ebf2fe;
  color: #455c86;
  border: 0.15em solid #455c86;
  border-radius: 0.25em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 8em;
  margin: 0.25em;
  font-size: 1.2em;
  cursor: pointer;
}

.btn img {
  width: 1.5em;
}

.btn span {
  padding: 0.5em;
}

.active {
  border: 0.2em solid #455c86;
  color: #455c86;
}